<app-navbar></app-navbar>

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">
        <span class="p-2 p-md-2 m-1 mx-md-3">

          Tracking
        </span>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr class="result-sm" *ngFor="let item of dataArray; let indx = index">
      <td>{{ indx + 1 }}</td>
      <td>
        <div class="d-flex flex-wrap justify-content-center p-2 p-md-2 m-1 mx-md-3 card">

          <div class="date w-100">
            <span>Date: {{ item?.Date | date:'MMM d, y' }}</span>
          </div>

          <div class="energy w-100">
            <span>Cal: {{ item?.Energy | toFixed }}</span>
            <span>&#160;==&#160;</span>
            <span>Target: {{ item?.enrgTrg }}&#160;({{ item?.enrgPer }}%) </span>
          </div>

          <div class="fat w-100">
            <span>Fats: {{ item?.Fat | toFixed }}</span>
            <span>&#160;==&#160;</span>
            <span>Target: {{ item?.fatTarg }}&#160;({{ item?.fatPerc }}%) </span>
          </div>

          <div class="carb w-100">
            <span>Carb: {{ item?.Carbohydrate | toFixed }}</span>
            <span>&#160;==&#160;</span>
            <span> Target: {{ item?.carbTarg }}&#160;({{ item?.carbPer }}%) </span>
          </div>

          <div class="protein w-100">
            <span>Protein: {{ item?.Protein | toFixed }}</span>
            <span>&#160;==&#160;</span>
            <span> Target: {{ item?.proTrg }}&#160;({{ item?.proPer }}%) </span>
          </div>
        </div>
      </td>
    </tr>
  </tbody>
</table>
