<div class="container pt-3 pb-4">
  <div class="w-100 d-flex justify-content-between align-items-center mt-3">
    <h4 class="p-0 m-0">{{ date | date }}</h4>
    <button
      (click)="toggleDetails()"
      class="btn btn-outline-primary d-block d-md-none"
    >
      <span *ngIf="displayDetails == false">Show Details</span>
      <span *ngIf="displayDetails == true">Hide Details</span>
    </button>
  </div>
  <div class="container d-flex justify-content-center align-items-center">
    <table class="table w-100" *ngIf="(finalSumObject$ | async).length > 0">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Quantity</th>
          <th scope="col">Measure</th>
          <th scope="col" class="d-none d-md-table-cell">Calories</th>
          <th scope="col" class="d-none d-md-table-cell">Fats</th>
          <th scope="col" class="d-none d-md-table-cell">Carbs</th>
          <th scope="col" class="d-none d-md-table-cell">Protein</th>
          <th scope="col">Remove</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let elm of sumArray$ | async; let i = index">
          <!-- ------------------------------ overall Preview ------------------------------ -->
          <tr class="bg-light">
            <td>{{ elm?.ShortFoodName }}</td>
            <td>
              <input
                type="number"
                class="form-control"
                [(ngModel)]="+elm.Quantity"
                (change)="handleChange()"
                (blur)="handleChange()"
              />
            </td>
            <td>{{ elm?.Measure }} {{ elm?.MeasureUnit }}</td>
            <td class="d-none d-md-table-cell">
              {{ +elm?.Energy * +elm.Quantity | toFixed }}
            </td>
            <td class="d-none d-md-table-cell">
              {{ +elm?.Fat * +elm.Quantity | toFixed }}
            </td>
            <td class="d-none d-md-table-cell">
              {{ +elm?.Carbohydrate * +elm.Quantity | toFixed }}
            </td>
            <td class="d-none d-md-table-cell">
              {{ +elm?.Protein * +elm.Quantity | toFixed }}
            </td>
            <td>
              <button (click)="handleRemove(i)" class="btn btn-outline-danger">
                Remove
              </button>
            </td>
          </tr>
          <!-- ------------------------------ mobile Preview ------------------------------ -->
          <tr class="result-smxx" [class.d-none]="!displayDetails">
            <td colspan="8" class="d-table-cell d-md-none">
              <div class="d-flex justify-content-center px-2">
                <div class="card p-1 m-1 col-3">
                  <span>Cal:</span>
                  <span>{{ +elm?.Energy * +elm.Quantity | toFixed }}</span>
                </div>
                <div class="card p-1 m-1 col-3">
                  <span>Fats:</span>
                  <span>{{ +elm?.Fat * +elm.Quantity | toFixed }}</span>
                </div>
                <div class="card p-1 m-1 col-3">
                  <span>Carb:</span>
                  <span>{{
                    +elm?.Carbohydrate * +elm.Quantity | toFixed
                  }}</span>
                </div>
                <div class="card p-1 m-1 col-3 d-flex flex-column">
                  <span>Protein:</span>
                  <span>{{ +elm?.Protein * +elm.Quantity | toFixed }}</span>
                </div>
              </div>
            </td>
          </tr>
        </ng-container>
      </tbody>
      <tfoot>
        <ng-container *ngFor="let final of finalSumObject$ | async">
          <!-- ------------------------------ Sum ------------------------------ -->
          <tr class="bg-light">
            <td>Sum</td>
            <td></td>
            <td></td>
            <td class="d-none d-md-table-cell">
              {{ final.Energy | toFixed }}
            </td>
            <td class="d-none d-md-table-cell">
              {{ final.Fat | toFixed }}
            </td>
            <td class="d-none d-md-table-cell">
              {{ final.Carbohydrate | toFixed }}
            </td>
            <td class="d-none d-md-table-cell">
              {{ final.Protein | toFixed }}
            </td>
            <td>
              <button
                (click)="handleClear()"
                class="btn btn-outline-danger px-4"
              >
                Clear
              </button>
            </td>
          </tr>
          <!-- ----------------------------- target ----------------------------- -->
          <tr class="bg-light d-none d-md-table-row">
            <td>Target</td>
            <td></td>
            <td></td>
            <td class="d-none d-md-table-cell">
              <span>{{ targetObj?.enrgTrg }}</span>
              <span>({{ targetObj?.enrgPer }}%)</span>
            </td>
            <td class="d-none d-md-table-cell">
              <span> {{ targetObj?.fatTarg }} </span>
              <span> ({{ targetObj?.fatPerc }}%) </span>
            </td>
            <td class="d-none d-md-table-cell">
              <span> {{ targetObj?.carbTarg }} </span>
              <span> ({{ targetObj?.carbPer }}%) </span>
            </td>
            <td class="d-none d-md-table-cell">
              <span> {{ targetObj?.proTrg }} </span>
              <span> ({{ targetObj?.proPer }}%) </span>
            </td>
            <td></td>
          </tr>
          <!-- ------------------------- mobile Preview ------------------------- -->
          <tr class="result-sm">
            <td colspan="5" class="d-table-cell d-md-none">
              <div class="d-flex flex-wrap justify-content-center">
                <span class="card p-2 m-2 col-5">
                  <span>Cal: {{ final.Energy | toFixed }}</span>
                  <span
                    >Target: {{ targetObj?.enrgTrg }} ({{
                      targetObj?.enrgPer
                    }}%)</span
                  >
                </span>
                <span class="card p-2 m-2 col-5">
                  <span>Fats: {{ final.Fat | toFixed }}</span>
                  <span
                    >Target: {{ targetObj?.fatTarg }} ({{
                      targetObj?.fatPerc
                    }}%)</span
                  >
                  <span> </span>
                </span>
                <span class="card p-2 m-2 col-5">
                  <span>Carb: {{ final.Carbohydrate | toFixed }}</span>
                  <span>
                    Target: {{ targetObj?.carbTarg }} ({{
                      targetObj?.carbPer
                    }}%)</span
                  >
                </span>
                <span class="card p-2 m-2 col-5">
                  <span>Protein: {{ final.Protein | toFixed }}</span>
                  <span
                    >Target: {{ targetObj?.proTrg }} ({{
                      targetObj?.proPer
                    }}%)</span
                  >
                </span>
              </div>
            </td>
          </tr>
        </ng-container>
      </tfoot>
    </table>
  </div>
</div>
