/* Structure */
table {
  width: 100vw;
  margin-top: 4rem;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}

.inVisible {
  display: none;
}

input {
  width: 100px;
}

tr {
  vertical-align: middle;
}
.result-smxx {
  .card {
    opacity: 0.7;
  }
}

@media (max-width: 767px) {
  table {
    transform: scale(0.85);
    // margin-top: 0;
    margin-top: -1.5rem;
  }
  .mat-elevation-z8 {
    * {
      font-size: small;
    }
    tr {
      display: flex;
      justify-content: space-evenly;
      overflow: hidden;
    }
    th,
    .result-sm {
      display: flex;
      align-items: center;
      overflow: hidden;
    }
  }
}

@media print {
  // *{
  //   display: none;
  // }
  // .sum{
  //   display: flex !important;
  // }
  .mat-elevation-z8,
  button {
    display: none !important;
  }
}

.popupContainer {
  height: 100vh;
  width: 100vw;
  position: fixed;
  overflow: hidden;
  z-index: 10000;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.151);
  .clearPopup,
  .savePopup {
    .card {
      width: 500px;
      padding: 20px;
      @media (max-width: 767px) {
        width: 90vw;
      }
      .buttons {
        display: flex;
        justify-content: end;
        button {
          margin-inline-start: 10px;
        }
      }
    }
  }
}
