<div *ngIf="isLoggedIn$ | async">
  <nav
    class="navbar navbar-expand-lg bg-body-tertiary"
    style="background-color: #e3f2fd"
  >
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/calculator">FODCAL</a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a
              class="nav-link active"
              aria-current="page"
              routerLink="/calculator"
              >Calculator</a
            >
          </li>
          <li class="nav-item" *ngIf="isAdmin | async">
            <a class="nav-link" routerLink="/add-new">Add-New</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/notes">Notes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/deit">Deit</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/profile">Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/tracking">Tracking</a>
          </li>
          <li class="nav-item" *ngIf="!(isLoggedIn$ | async)">
            <a class="nav-link" routerLink="/login">Login</a>
          </li>
          <li class="nav-item" *ngIf="isLoggedIn$ | async">
            <a class="nav-link" (click)="logout()"  routerLink="/login">Logout</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="navx">All Copy Writes Reserved</div>
  <div class="hero">
    <img [src]="heroImg" alt="" />
  </div>
</div>
