// nav {
//   justify-self: center;
//   text-align: center;
// }

// .navbar-collapse {
//   flex-grow: 0 !important;
//   align-items: center;
// }

// .navbar > .container,
// .navbar > .container-fluid,
// .navbar > .container-lg,
// .navbar > .container-md,
// .navbar > .container-sm,
// .navbar > .container-xl,
// .navbar > .container-xxl {
//   display: flex;
//   flex-wrap: inherit;
//   align-items: center;
//   justify-content: center !important;
// }
// #navbarSupportedContent {
//   width: fit-content !important;
// }
.navx {
  background-color: #fcb427;
  // background-color: crimson;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  font-size: 16px;
  font-weight: 500;
}

img {
  width: 100%;
  height: 225px;
  object-fit: cover;
}
