<form>
  <div class="mb-3">
    <label for="ShortFoodName" class="form-label">ShortFoodName</label>
    <input required [ngModelOptions]="{standalone: true}" [(ngModel)]="formData.ShortFoodName" type="text" class="form-control" id="ShortFoodName">
  </div>

  <div class="mb-3">
    <label for="Translation" class="form-label">Translation</label>
    <input required [ngModelOptions]="{standalone: true}" [(ngModel)]="formData.Translation" type="text" class="form-control" id="Translation">
  </div>

  <div class="mb-3">
    <div class="row">
      <div class="col-6">
            <label for="Measure" class="form-label">Measure</label>
            <input required [ngModelOptions]="{standalone: true}" [(ngModel)]="formData.Measure" type="number" class="form-control" id="Measure">
      </div>
      <div class="col-6">
            <label for="MeasureUnit" class="form-label">MeasureUnit</label>
            <input required [ngModelOptions]="{standalone: true}" [(ngModel)]="formData.MeasureUnit" type="Text" class="form-control" id="MeasureUnit">
      </div>
      </div>
  </div>
  <div class="mb-3">
    <div class="row">
      <div class="col-4">
            <label for="Equavlint" class="form-label">Equavlint</label>
            <input required [ngModelOptions]="{standalone: true}" [(ngModel)]="formData.Equavlint" type="Text" class="form-control" id="Equavlint">
      </div>
      <div class="col-4">
            <label for="EquavlintMeasure" class="form-label">EquavlintMeasure</label>
            <input required [ngModelOptions]="{standalone: true}" [(ngModel)]="formData.EquavlintMeasure" type="number" class="form-control" id="EquavlintMeasure">
      </div>
      <div class="col-4">
            <label for="EquavlintMeasureUnit" class="form-label">EquavlintMeasureUnit</label>
            <input required [ngModelOptions]="{standalone: true}" [(ngModel)]="formData.EquavlintMeasureUnit" type="Text" class="form-control" id="EquavlintMeasureUnit">
      </div>
      </div>
  </div>

  <div class="mb-3">
    <label for="Energy" class="form-label">Energy</label>
    <input required [ngModelOptions]="{standalone: true}" [(ngModel)]="formData.Energy" type="number" class="form-control" id="Energy">
  </div>

  <div class="mb-3">
    <label for="Carbohydrate" class="form-label">Carbohydrate</label>
    <input required [ngModelOptions]="{standalone: true}" [(ngModel)]="formData.Carbohydrate" type="number" class="form-control" id="Carbohydrate">
  </div>

  <div class="mb-3">
    <label for="Fat" class="form-label">Fat</label>
    <input required [ngModelOptions]="{standalone: true}" [(ngModel)]="formData.Fat" type="number" class="form-control" id="Fat">
  </div>

  <div class="mb-3">
    <label for="Protein" class="form-label">Protein</label>
    <input required [ngModelOptions]="{standalone: true}" [(ngModel)]="formData.Protein" type="number" class="form-control" id="Protein">
  </div>

  <div class="mb-3">
    <label for="Sugars" class="form-label">Sugars</label>
    <input required [ngModelOptions]="{standalone: true}" [(ngModel)]="formData.Sugars" type="number" class="form-control" id="Sugars">
  </div>

  <button type="submit" (click)="addNewFood()" class="btn btn-primary">Submit</button>
</form>
