<div class="login">
  <div class="container">
    <h1>
      Sign in With <br />
      Google
    </h1>
    <button (click)="logInWithGoogle()">
      <img src="assets/images/google.png" alt="" />
      <span> Login With Google </span>
    </button>
    <button (click)="goBack()">
      <div class="svgContainer">
        <svg
          width="448"
          height="386"
          viewBox="0 0 448 386"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M9.4 170.4C-3.1 182.9 -3.10001 203.2 9.39999 215.7L169.4 375.7C181.9 388.2 202.2 388.2 214.7 375.7C227.2 363.2 227.2 342.9 214.7 330.4L109.2 225L416 225C433.7 225 448 210.7 448 193C448 175.3 433.7 161 416 161L109.3 161L214.6 55.6C227.1 43.1 227.1 22.8 214.6 10.3C202.1 -2.20003 181.8 -2.20004 169.3 10.3L9.29999 170.3L9.4 170.4Z"
            fill="crimson"
          />
        </svg>
      </div>
      <span class="back">Go Back</span>
    </button>
  </div>
</div>
