/* Structure */
table {
  width: 100%;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}

.inVisible {
  display: none;
}

input {
  width: 100px;
}

tr {
  vertical-align: middle;
}

@media print {
  .mat-elevation-z8 {
    display: none;
  }
}

.mat-column-name,
.mat-column-translated {
  width: fit-content;
  max-width: 200px;
}

@media (max-width: 767px) {
  .mat-header-cell.cdk-header-cell.cdk-column-translated.mat-column-translated,
  .mat-cell.cdk-cell.cdk-column-translated.mat-column-translated.ng-star-inserted,
  .mat-header-cell.cdk-header-cell.cdk-column-calories.mat-column-calories,
  .mat-cell.cdk-cell.cdk-column-calories.mat-column-calories.ng-star-inserted,
  .mat-header-cell.cdk-header-cell.cdk-column-fats.mat-column-fats,
  .mat-cell.cdk-cell.cdk-column-fats.mat-column-fats.ng-star-inserted,
  .mat-header-cell.cdk-header-cell.cdk-column-protein.mat-column-protein,
  .mat-cell.cdk-cell.cdk-column-protein.mat-column-protein.ng-star-inserted,
  .mat-header-cell.cdk-header-cell.cdk-column-carbs.mat-column-carbs,
  .mat-cell.cdk-cell.cdk-column-carbs.mat-column-carbs.ng-star-inserted {
    display: none;
  }

  .mat-header-cell.cdk-header-cell.cdk-column-name.mat-column-name,
  .mat-cell.cdk-cell.cdk-column-name.mat-column-name.ng-star-inserted {
    width: 50%;
  }
  .mat-header-cell.cdk-header-cell.cdk-column-measure.mat-column-measure,
  .mat-cell.cdk-cell.cdk-column-measure.mat-column-measure.ng-star-inserted {
    text-align: center;
    width: 25%;
  }

  .mat-header-cell.cdk-header-cell.cdk-column-menue.mat-column-menue {
    text-align: center;
    width: 25%;
  }

  .mat-cell.cdk-cell.cdk-column-menue.mat-column-menue.ng-star-inserted {
    text-align: end;
    width: 25%;
  }

  .mat-form-field {
    width: 100%;
  }
}
