<mat-form-field class="w-100 pe-auto">
  <mat-label>Filter</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input />
</mat-form-field>

<!-- table -->
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8 w-100">
  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>Name</th>
    <td mat-cell *matCellDef="let element">{{ element.ShortFoodName }}</td>
  </ng-container>

  <!-- translated Column -->
  <ng-container matColumnDef="translated">
    <th mat-header-cell *matHeaderCellDef>Translated</th>
    <td mat-cell *matCellDef="let element">{{ element.Translation }}</td>
  </ng-container>

  <!-- quantity Column -->
  <ng-container matColumnDef="quantity">
    <th mat-header-cell *matHeaderCellDef>Measure</th>
    <td mat-cell *matCellDef="let element">{{ element.Measure }} {{ element.MeasureUnit }}</td>
  </ng-container>

  <!-- calories Column -->
  <ng-container matColumnDef="calories">
    <th mat-header-cell *matHeaderCellDef>Calories</th>
    <td mat-cell *matCellDef="let element">{{ element.Energy | toFixed }}</td>
  </ng-container>

  <!-- fats Column -->
  <ng-container matColumnDef="fats">
    <th mat-header-cell *matHeaderCellDef>Fats</th>
    <td mat-cell *matCellDef="let element">{{ element.Fat | toFixed }}</td>
  </ng-container>

  <!-- carbs Column -->
  <ng-container matColumnDef="carbs">
    <th mat-header-cell *matHeaderCellDef>Carbs</th>
    <td mat-cell *matCellDef="let element">
      {{ element.Carbohydrate | toFixed }}
    </td>
  </ng-container>

  <!-- protein Column -->
  <ng-container matColumnDef="protein">
    <th mat-header-cell *matHeaderCellDef>Protein</th>
    <td mat-cell *matCellDef="let element">{{ element.Protein | toFixed }}</td>
  </ng-container>

  <!-- menue Column -->
  <ng-container matColumnDef="menue">
    <th mat-header-cell *matHeaderCellDef>Add</th>
    <td mat-cell *matCellDef="let element; let i = index">
      <button (click)="handleAdd(element)" class="btn btn-outline-primary">
        Add
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

  <!-- Row shown when there is no matching data. -->
  <tr class="mat-row" *matNoDataRow>
    <td class="mat-cell" colspan="4">
      No data matching the filter "{{ input.value }}"
    </td>
  </tr>
</table>

<!-- paginator -->
<mat-paginator
  [pageSizeOptions]="[5, 10, 20]"
  showFirstLastButtons
  aria-label="Select page of periodic elements"
>
</mat-paginator>
