nav {
  background-color: #f0c078;
  height: 90px;
  padding: 10px 100px;
  @media (max-width: 768px) {
    height: 80px;
    padding: 10px 0;
  }
  .container-fluid {
    .navbar-brand {
      font-weight: 500;
      font-size: 27px;
      @media (max-width: 768px) {
        font-weight: 400;
        font-size: 20px;
      }
    }
    .collapse.navbar-collapse {
      justify-content: flex-end;
      z-index: 3;
      background-color: #f0c078;
      @media (max-width: 768px) {
        justify-content: flex-start;
      }
    }
    .navbar-toggler{
      outline: none;
      border: none;
      box-shadow: none;
    }
    a {
      font-weight: 500;
      cursor: pointer;
    }
  }
}
