<div id="Sum" class="container Sum pt-3 pb-4">
  <div class="w-100 mt-3">
    <h4 class="date">{{ date | date }}</h4>
  </div>
  <div class="container d-flex justify-content-center align-items-center">
    <table class="table w-100 table-hover" *ngIf="addedFoodList.length">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Quantity</th>
          <th scope="col">Measure</th>
          <th scope="col" class="d-none d-md-table-cell">Calories</th>
          <th scope="col" class="d-none d-md-table-cell">Fats</th>
          <th scope="col" class="d-none d-md-table-cell">Carbs</th>
          <th scope="col" class="d-none d-md-table-cell">Protein</th>
          <th scope="col">Remove</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let elm of addedFoodList; let i = index">
          <tr class="bg-light">
            <td>{{ elm?.ShortFoodName }}</td>
            <td><input type="number" class="form-control" [(ngModel)]="+elm.Quantity" (change)="handleChange()" (blur)="handleChange()" /></td>
            <td>{{ elm?.Measure }} {{ elm?.MeasureUnit }}</td>
            <td class="d-none d-md-table-cell">{{ elm?.Energy * elm.Quantity | ToFixed}}</td>
            <td class="d-none d-md-table-cell">{{ elm?.Fat * elm.Quantity | ToFixed}}</td>
            <td class="d-none d-md-table-cell">{{ elm?.Carbohydrate * elm.Quantity | ToFixed}}</td>
            <td class="d-none d-md-table-cell">{{ elm?.Protein * elm.Quantity | ToFixed}}</td>
            <td><button (click)="handleRemove(i)" class="btn btn-outline-danger">Remove</button></td>
          </tr>
        </ng-container>
      </tbody>
      <tfoot>
        <!-- ------------------------------ Sum ------------------------------ -->
        <tr class="bg-light">
          <td>Sum</td>
          <td colspan="2"></td>
          <td class="d-none d-md-table-cell">{{ sumResult.Energy | ToFixed}}</td>
          <td class="d-none d-md-table-cell">{{ sumResult.Fat | ToFixed}}</td>
          <td class="d-none d-md-table-cell">{{ sumResult.Carbohydrate | ToFixed}}</td>
          <td class="d-none d-md-table-cell">{{ sumResult.Protein | ToFixed}}</td>
          <td><button (click)="toggleClearPopup()" class="btn btn-outline-danger px-4">Clear</button></td>
        </tr>
        <!-- ----------------------------- target ----------------------------- -->
        <tr class="bg-light d-none d-md-table-row">
          <td>Target</td>
          <td colspan="2"></td>
          <td class="d-none d-md-table-cell"><span>{{ targetResult?.Energy | ToFixed }}%</span></td>
          <td class="d-none d-md-table-cell"><span>{{ targetResult?.Fat | ToFixed }}%</span></td>
          <td class="d-none d-md-table-cell"><span>{{ targetResult?.Carbohydrate | ToFixed }}%</span></td>
          <td class="d-none d-md-table-cell"><span>{{ targetResult?.Protein | ToFixed }}%</span></td>
          <td><button class="btn btn-outline-primary px-4" (click)="toggleSavePopup()">Save</button></td>
        </tr>
      </tfoot>
    </table>
  </div>
</div>

<!-- confirm pop up -->
<div class="popupContainer clearPopup" [class.d-none]="!clearPopup">
  <div class="card">
    <h4>Clear ?</h4>
    <div class="buttons">
      <button class="btn btn-outline-primary" (click)="handleClear()">Ok</button>
      <button class="btn btn-outline-danger" (click)="toggleClearPopup()">Cancel</button>
    </div>
  </div>
</div>

<!-- save pop up -->
<div class="popupContainer savePopup" [class.d-none]="!savePopup">
  <div class="card">
    <h4>Save {{ curruntDate }} ?</h4>
    <div class="buttons">
      <button class="btn btn-outline-primary" (click)="saveData()">Ok</button>
      <button class="btn btn-outline-danger" (click)="toggleSavePopup()">Cancel</button>
    </div>
  </div>
</div>
